<section class="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title">Gallery</h2>

    <div class="gallery__slider">
      <div class="gallery__thumb">
        <img
          class="gallery__image"
          src="/src/images/gallery_image_1_mobile.jpg"
          alt=""
        />
      </div>

      <div class="gallery__thumb">
        <img
          class="gallery__image"
          src="/src/images/gallery_image_2_mobile.jpg"
          alt=""
        />
      </div>

      <div class="gallery__thumb">
        <img
          class="gallery__image"
          src="/src/images/gallery_image_3_mobile.jpg"
          alt=""
        />
      </div>

      <div class="gallery__thumb">
        <img
          class="gallery__image"
          src="/src/images/gallery_image_4_mobile.jpg"
          alt=""
        />
      </div>

      <div class="gallery__thumb">
        <img
          class="gallery__image"
          src="/src/images/gallery_image_5_mobile.jpg"
          alt=""
        />
      </div>

      <div class="gallery__thumb">
        <img
          class="gallery__image"
          src="/src/images/gallery_image_6_mobile.jpg"
          alt=""
        />
      </div>

      <div class="gallery__thumb">
        <img
          class="gallery__image"
          src="/src/images/gallery_image_7_mobile.jpg"
          alt=""
        />
      </div>

      <div class="gallery__thumb">
        <img
          class="gallery__image"
          src="/src/images/gallery_image_8_mobile.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
