<section class="">
  <h1 class="gallery__title">Gallery</h1>

  <div class="gallery__slider">
    <div class="gallery__thumb">
      <img
        class="gallery__image"
        src="/src/images/gallery_image_1.jpg"
        alt=""
      />
    </div>

    <div class="gallery__thumb">
      <img
        class="gallery__image"
        src="/src/images/gallery_image_2.jpg"
        alt=""
      />
    </div>

    <div class="gallery__thumb">
      <img
        class="gallery__image"
        src="/src/images/gallery_image_3.jpg"
        alt=""
      />
    </div>

    <div class="gallery__thumb">
      <img
        class="gallery__image"
        src="/src/images/gallery_image_1.jpg"
        alt=""
      />
    </div>

    <div class="gallery__thumb">
      <img
        class="gallery__image"
        src="/src/images/gallery_image_2.jpg"
        alt=""
      />
    </div>

    <div class="gallery__thumb">
      <img
        class="gallery__image"
        src="/src/images/gallery_image_3.jpg"
        alt=""
      />
    </div>
  </div>
</section>
